/* Breakpoint 640px*/
@media (min-width: 40rem) {
    #nav-home img {
        display: block;
    }

    #search-bar {
        width: 40%;
        border: none;
        border-radius: 4rem;
        padding: 0.5rem 1rem;
        box-shadow: 0px 0px 5px white;
        display: flex;
        position: initial;
    }

    #search-bar img {
        position: initial;
    }

    #mob-search {
        display: none;
    }

    #search-bar input {
        display: flex;
    }

    .list-headers img {
        display: none;
    }

    .filter-list {
        display: block;
        position: initial;
        border: none;
    }

    .monster-tile {
        gap: 1rem;
        font-size: 1.25rem;
    }

    .monster-tile img {
        height: 5rem;
    }
    
    .col-bio {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        width: auto;
        text-wrap: nowrap;
    }

    .col-info {
        flex-direction: row
    }

    .col-info p {
        padding: 0 0.5rem;
    }
    
    #monster-page {
        display: flex !important;
        justify-content: space-around;
    }

    .monster-page-bio img {
        width: 20rem;
    }

    .monster-page-info {
        width: 50%;
    }
}

/* Next increase in font size */
@media (min-width: 808px) {
    .monster-tile {
        font-size: 1.5rem;
    }

    #monster-page {
        font-size: 1.5rem;
    }

    #monster-page h2 {
        font-size: 2.5rem;
    }

    #monster-page h3 {
        font-size: 2rem;
    }

    .monster-eff {
        gap: 1rem;
    }
}


/* Laptop Viewports 1024px */
@media (min-width: 64rem) {
    nav {
        padding: 0rem;
    }

    #ham-menu {
        display: none;
    }

    #nav-home img {
        height: 2.5rem;
    }
    
    #nav-home h1 {
        font-size: 2.5rem;
    }
    
    #search-bar {
        margin: 0 10px;
        padding: 1rem 1.5rem;
    }

    #search-bar input {
        font-size: 1.5rem;
    }

    #nav-links {
        display: flex;
        position: initial;
        width: auto;
        border: none;
        font-size: 1.45rem;
    }

    #nav-links li {
        padding: 1.5rem 2rem;
    }
}



/* 4K Screens */
@media (min-width: 1440px) {

    #nav-home img {
        height: 3.5rem;
    }
    
    #nav-home h1 {
        font-size: 3.5rem;
    }

    #search-bar input {
        font-size: 2.5rem;
    }

    #search-bar img {
        height: 2.5rem;
    }

    #nav-links {
        font-size: 2.45rem;
    }

    .monster-tile {
        font-size: 2.5rem;
    }

    #monster-page {
        font-size: 2.5rem;
    }

    #monster-page h2 {
        font-size: 3.5rem;
    }

    #monster-page h3 {
        font-size: 3rem;
    }

    .monster-page-bio img {
        width: 40rem;
    }
}