/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Khand", sans-serif;
}



/* Generic CSS */
.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.fl-1 {
    flex: 1;
}

.fl-2 {
    flex: 2;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-even {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.align-base {
    align-items: baseline;
}

.gap-1 {
    gap: 0.5rem;
}

.gap-2 {
    gap: 1rem;
}

.gap-3 {
    gap: 2rem;
}

.gap-4 {
    gap: 3rem;
}

ul {
    list-style-type: none;
}

body {
    background-color: #5d6a77;
}

/* Navbar */
nav {
    background-color: lightslategrey;
    text-wrap: nowrap;
    box-shadow: 0px 0px 10px black;
}

#nav-home {
    cursor: pointer;
}

#nav-home img {
    height: 2.5rem;
}

#nav-home h1 {
    font-size: 3.5rem;
    font-weight: normal;
    padding-top: 5px;
}

#search-bar {
    border-radius: 4rem;
    box-shadow: 0px 0px 10px black;
    padding: 0.75rem 1rem;
    width: 40%;
    color: white;
}

#search-bar input {
    border: none;
    outline: none;
    width: 100%;
    background-color: inherit;
    color: white;
    font-size: 1.5rem;
}

#search-bar input::placeholder {
    color: white;
}

#search-bar img {
    height: 1.5rem;
}

nav ul {
    font-size: 2rem;
}

nav ul li {
    padding: 1.5rem 2rem;
    cursor: pointer;
}

nav ul li:hover {
    filter: brightness(80%);
    background-color: #677583;
    transition: all 200ms ease-in-out;
}



/* Main */
main {
    margin: 0 10%;
}

/* Home */
#home {
    height: 90vh;
}

#home img {
    width: 100%;
    opacity: 70%;
}

#home p {
    border-top: 2px dashed white;
    border-bottom: 2px dashed white;
    width: 750px;
    font-size: 3rem;
    color: white;
    position: relative;
    bottom: 60%;
    left: 25%;
}

/* Small Monsters */
#small-list-headers {
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
}

#small-monsters {
    display: none;
}

.small-item {
    border: 3px outset black;
    border-radius: 1rem;
    padding: 2rem;
}